<div class='wrapper'>
<!--	<div class='menu'>-->
	<!--		<div class="profile">-->
	<!--			<div class="profile__icon"></div>-->
	<!--			<div class="profile__title">Белов Михаил</div>-->
	<!--		</div>-->
	<!--		<hr class="line">-->
	<!--		<nav class="nav__wrapper">-->
	<!--			<ul class="nav__list">-->
	<!--				<li *ngFor="let item of menuItems"-->
	<!--						(click)="closeMenu()"-->
	<!--				>-->
	<!--					<a [routerLink]="item.routerLink"-->
	<!--						 class="nav__item"-->
	<!--					>-->
	<!--						<svg-icon [src]="item.icon"-->
	<!--											class="nav__icon"-->
	<!--											svgClass="svg-nav"-->
	<!--											viewBox="0 0 30 30"-->
	<!--						/>-->
	<!--						<div class="nav__title">-->
	<!--							{{ item.title }}-->
	<!--						</div>-->
	<!--					</a>-->
	<!--				</li>-->
	<!--				<li (click)="toggleMenu()"-->
	<!--						class="nav__item"-->
	<!--				>-->
	<!--					<svg-icon-->
	<!--						[ngClass]="{'minimize__icon': isMinimize, 'nav__icon': true}"-->
	<!--						src="assets/svg/minimize-min.svg"-->
	<!--						svgClass="svg-nav"-->
	<!--						viewBox="0 0 30 30"-->
	<!--					/>-->
	<!--					<div class="nav__title">-->
	<!--						Свернуть-->
	<!--					</div>-->
	<!--				</li>-->
	<!--			</ul>-->
	<!--		</nav>-->
	<!--	</div>-->

	<app-menu-account></app-menu-account>

	<div class="content">
		<router-outlet></router-outlet>
	</div>
</div>

