<div class="contents">
	<b-table
		[items]="items$ | async"
	>
		<!-- TODO: добавить сортировку -->
		<ng-template bTemplate="head">
			<tr>
				<th>ФИО</th>
				<th>Адрес</th>
				<th>Номер</th>
				<th>Последняя заявка (Дата)</th>
				<th>Зарегистрирован</th>
			</tr>
		</ng-template>
		<ng-template bTemplate="body"
								 let-item
		>
			<tr>
				<td data-name="ФИО">
					{{ item.fullname }}
				</td>
				<td class="break-all"
						data-name="Адрес"
				>
					{{ item.address | notSpecified }}
				</td>
				<td class="tablet:max-w-full max-w-32"
						data-name="Номер"
				>
					{{ item.phone }}
				</td>
				<td data-name="Последняя заявка (Дата)">
					{{
						item.lastRecordTime
							? (item.lastRecordTime | date)
							: "Заявки отсутствуют"
					}}
				</td>
				<td data-name="Зарегистрирован">
					{{
						item.isAuth ? "Да" : "Нет"
					}}
				</td>
			</tr>
		</ng-template>
	</b-table>
</div>
