<div class="contents">
	<b-table
		[items]="clientsService.items$ | async"
	>
		<ng-template bTemplate="head">
			<tr>
				<th>ФИО</th>
				<th>Адрес</th>
				<th>Номер</th>
				<th>Последняя заявка (Дата)</th>
				<th>Зарегистрирован</th>
			</tr>
		</ng-template>
		<ng-template bTemplate="body" let-item>
			<tr>
				<td data-name="ФИО">
					{{ item | fullName }}
				</td>
				<td class="break-all" data-name="Адрес">
					{{ item.address | notSpecified }}
				</td>
				<td class="tablet:max-w-full max-w-32"
						data-name="Номер">
					{{ item.phone }}
				</td>
				<td data-name="Последняя заявка (Дата)">
					{{
						item.lastRecordTime
							? (item.lastRecordTime | date)
							: "Заявки отсутствуют"
					}}
				</td>
				<td data-name="Зарегистрирован">
					{{
						item.roleId != null ? "Да" : "Нет"
					}}
				</td>
			</tr>
		</ng-template>
	</b-table>
</div>
