<ng-container *ngIf="day$ | async as day">


    <b-table [items]='times$ | async'
             [headerTitle]="'Дата: ' + (day.date | date: 'dd.MM.YYYY')"
             [pageSize]="10"
    >
        <ng-template bTemplate='head'>
            <tr>
                <th>Начало</th>
                <th>Конец</th>
                <th>Имя клиента</th>
                <th>Номер клиента</th>
                <th>Почта клиента</th>
                <th
                        *ngIf="(roleId$ | async) == 1 "
                >
                    Действия
                </th>
            </tr>
        </ng-template>
        <ng-template bTemplate='body'
                     let-time
        >
            <tr [ngClass]='{"opacity-70": time.isBusy}'>
                <td data-name='Начало'>{{ time.startTime }}</td>
                <td data-name='Конец'>{{ time.endTime }}</td>
                <td data-name="Имя клиента">{{ time.client?.firstName | notSpecified }}</td>
                <td data-name="Номер клиента">{{ time.client?.phone | notSpecified }}</td>
                <td data-name="Почта клиента">{{ time.client?.email | notSpecified }}</td>
                <td data-name="Действия" *ngIf="(roleId$ | async) == 1 ">
                    <div>
                        <button mat-icon-button (click)="onRemoveClick(remove, time.id)">
                            <mat-icon color="warn">delete</mat-icon>
                        </button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </b-table>

</ng-container>
<ng-template #remove>
</ng-template>