<div class='service'
     *ngIf='service | async as service'
>
    <div class='service__image'
         *ngIf='service.imageId'
    >
        <img [src]='imageId | async | srcImage'
             [alt]='service.name'
        >
    </div>
    <div class='service__text'>
        <h3>{{ service.name }}</h3>
        <p>{{ service.description }}</p>
        <p class='font-bold'>{{
                service.isShowLending ?
                    "Показывается на лендинге" : "Не показывается на лендинге"
            }}
        </p>
    </div>
    <div class='service__action'>
        <button class='service__button button'
                (click)='openModal(uploadTemplate)'
        >Загрузить
            фото
        </button>
        <button class='service__button button'
                (click)='openModal(updateTemplate, { actionVisible:
						false})'
        >Изменить
        </button>
        <button class='service__button button'
                (click)='openDeleteModal(deleteTemplate)'
        >Удалить
        </button>
    </div>
</div>

<ng-template #uploadTemplate>
    <input
            type='file'
            class='form__input'
            (change)='onFileChange($event)'
    >

</ng-template>

<ng-template #updateTemplate>
    <form class="form" [formGroup]="updateForm" (ngSubmit)="updateSubmit()">
        <mat-form-field appearance="fill">
            <mat-label>Название</mat-label>
            <input matInput id="name" type="text" formControlName="name" placeholder="Введите название услуги">
            <mat-error *ngIf="updateForm.get('name')?.hasError('required')">
                Название обязательно
            </mat-error>
            <mat-error *ngIf="updateForm.get('name')?.hasError('minlength')">
                Название должно содержать минимум 3 символа
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Описание</mat-label>
            <textarea matInput id="description" formControlName="description"
                      placeholder="Введите описание услуги"></textarea>
            <mat-error *ngIf="updateForm.get('description')?.hasError('required')">
                Описание обязательно
            </mat-error>
            <mat-error *ngIf="updateForm.get('description')?.hasError('minlength')">
                Описание должно содержать минимум 10 символов
            </mat-error>
        </mat-form-field>

        <mat-checkbox id="isShowLending" formControlName="isShowLending">
            Показать на лендинге
        </mat-checkbox>

        <button mat-flat-button color="primary" class="form__button" type="submit">
            Обновить
        </button>
    </form>
</ng-template>

<ng-template #deleteTemplate>

</ng-template>