:host {
	@apply relative grid items-center justify-center min-h-screen w-full p-5;

}

.wrapper {

	@apply flex flex-col text-on-surface bg-surface w-80 border-surface border border-solid p-3;

	font-size: 1.2rem;

	border-radius: 0.625rem;

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);

	backdrop-filter: blur(5px);

	z-index: 1;

	input[type=radio] {
		display: none;
	}

	.switch-page {
		@apply mt-5;
		font-size: 0.9rem;

		button {
			width: 100%;
			text-align: center;
			transition: background .3s ease-in-out;

			border-radius: 0.625rem;

			&:hover {
				@apply bg-surface;
			}
		}
	}
}

.dirty {
	@apply border-red-600 border border-solid;
}
