<div class="wrapper">

	<form action=""
				[formGroup]="formLogin"
	>

		@switch (activePage) {
			@case (1) {
				<h1>Авторизация</h1>

				<custom-input
					[formControl]="formLogin.controls.email"
					type="email"
					placeholder="Почта"
					title="Введите почту"
				/>

				<custom-input
					[formControl]="formLogin.controls.password"
					type="password"
					placeholder="Пароль"
					title="Введите пароль"
				/>
				<button (click)="login()">Вход</button>
			}
			@case (2) {
				<app-form-register
					(submit)='register($event)'></app-form-register>
			}
		}
	</form>

	<div class="switch-page">
		<button *ngIf="activePage == 1"
						(click)="activePage = 2"
		>Регистрация
		</button>
		<button *ngIf="activePage == 2"
						(click)="activePage = 1"
		>
			Авторизация
		</button>
	</div>


</div>