<div class="wrapper">

	<form action=""
				[formGroup]="formLogin"
	>

		@switch (activePage) {
			@case (1) {
				<h1>Авторизация</h1>

				<mat-form-field appearance='outline'>
					<mat-label></mat-label>
					<input
						matInput
						[formControl]="formLogin.controls.email"
						type="email"
						placeholder="Почта"
						title="Введите почту"
					/>
					<mat-error
						*ngIf='formLogin.controls.email?.hasError("email")'
					>
						Неверный формат
					</mat-error>
				</mat-form-field>

				<mat-form-field>
					<input
						matInput
						[formControl]="formLogin.controls.password"
						type="password"
						placeholder="Пароль"
						title="Введите пароль"
					/>
					<mat-error
						*ngIf='formLogin.get("email")?.hasError("email")'
					>
						Неверный формат
					</mat-error>
				</mat-form-field>


				<button (click)="login()">Вход</button>
			}
			@case (2) {
				<app-form-register
					(submit)='register($event)'
				></app-form-register>
			}
		}
	</form>

	<div class="switch-page">
		<button *ngIf="activePage == 1"
						(click)="activePage = 2"
		>Регистрация
		</button>
		<button *ngIf="activePage == 2"
						(click)="activePage = 1"
		>
			Авторизация
		</button>
	</div>


</div>