:host {
  @apply flex w-full items-center bg-surface max-w-[250px];

  @media (max-width: 768px) {
    max-width: 100%;
  }

  border-radius: 0.625rem;

  &:hover, &:focus, &:active {
    @apply outline outline-menu outline-1;
  }

}

.search {
  &__input {
    padding: var(--padding-input, 0.5rem);
    width: 100%;
    &:focus-visible {
      outline: none;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    height: 100%;
    padding-right: var(--padding-input, 0.5rem);
  }
}
