<app-about
	title="О сотруднике"
	[item]="user">
	<ng-template bTemplate="about-content" let-item>
		<span data-name="Почта">{{ item.email }}</span>
		<span data-name="Фамилия">{{ item.lastName }}</span>
		<span data-name="Имя">{{ item.firstName }}</span>
		<span data-name="Отчество">{{ item.patronymic }}</span>
		<span data-name="Номер телефона">{{ item.phone }}</span>
		<span data-name="Адрес">{{ item.address }}</span>
	</ng-template>
</app-about>

<div class="tabs">
	<app-tabs (tabsChange)="tabsChange($event)">

		<app-tabs-table-content
			header="Активные работы"
			type="active"
			[selected]="true"
			class="tabs__content"
			[service]="recordsService"
			[headItems]="
				[
					{value: -1, name: 'Не выбрано'},
					{value: 'description', name: 'Описание'},
					{value: 'createtime', name: 'Дата создания'},
					{value: 'priority', name: 'Приоритет'}
				]"
		>
			<ng-template bTemplate="body" let-item>
				<tr>
					<td data-name="Описание">
						{{ item.description }}
					</td>
					<td data-name="Дата создания">
						{{
							item.createTime | date: 'dd MMMM YYYY hh:mm:ss' : undefined :
								"ru"
						}}
					</td>
					<td data-name="Приоритет">
						<div>
							<span class="priority"
										[attr.data-priority]="item.priority">
								{{ Priority[item.priority] }}
							</span>
						</div>
					</td>
				</tr>
			</ng-template>

		</app-tabs-table-content>

		<app-tabs-table-content
			type="completed"
			header="Завершенные работы"
			class="tabs__content"
			[service]="recordsService"
		>
			<!--TODO: Доделать шаблоны -->
			<ng-template bTemplate="body" let-item>
				<tr>
					<td>
						{{ item|json }}
					</td>
				</tr>
			</ng-template>

		</app-tabs-table-content>

		<app-tabs-table-content
			header="Услуги работника"
			class="tabs__content"
			[service]="recordsService"
		>
		</app-tabs-table-content>
	</app-tabs>
</div>
