<div class='wrapper'>
	<app-about
		header="О сотруднике"
		[item]="worker"
	>
		<ng-template bTemplate="about-content"
								 let-item
		>
			<h3>Фамилия</h3>
			<p>{{ item.lastName }}</p>
			<h3>Имя</h3>
			<p>{{ item.firstName }}</p>
			<h3>Отчество</h3>
			<p>{{ item.patronymic | notSpecified }}</p>
			<h3>Почта</h3>
			<p>{{ item.email }}</p>
			<h3>Номер телефона</h3>
			<p>{{ item.phone }}</p>
			<h3>Адрес</h3>
			<p>{{ item.address | notSpecified }}</p>
		</ng-template>
	</app-about>

	<div class="action">
		<button
			(click)='openDismissModal(updateFormModal)'
		>
			Понизить роль пользователя до клиента
		</button>
		<button
			(click)='openDeleteModal(updateFormModal)'
		>
			Удалить аккаунт пользователя
		</button>
		<ng-template #updateFormModal></ng-template>
	</div>
</div>
<div class="tabs">
	<app-tabs>
		<app-tabs-content
			header="Активные работы"
			type="active"
			class="tabs__content"
			[selected]="true"
		>
			<app-table-records
				[items]='activeWorks | async'
			></app-table-records>
		</app-tabs-content>
		<app-tabs-content
			type="completed"
			header="Завершенные работы"
			class="tabs__content"
		>
			<app-table-records
				[items]='completedWorks | async'
			></app-table-records>
		</app-tabs-content>
	</app-tabs>
</div>

