:host {
  @apply flex flex-col gap-5 h-full;

  border-radius: 0.625rem;
}

.wrapper {
  @apply flex flex-col gap-5 text-on-surface;

  .action {
    @apply flex gap-5;
    button {
      @apply bg-surface/40 border-surface border border-solid p-1 hover:bg-surface;
      border-radius: 0.625rem;
    }
  }
}


.tabs {
  @apply min-h-0 flex-1;

  border-radius: 0.625rem;

  &__content {
  }
}

