<div class="wrapper"
		 *ngIf="record"
>
	<app-about
		[title]='"Заявка от " + (record.createTime |
		date:"dd MMMM hh:mm")'
		[item]='record'
	>
		<ng-template bTemplate="about-content"
								 let-item
		>
			<h3>Фио</h3>
			<p data-name="Полное имя">
				{{ item.client | fullName }}
			</p>
			<h3>Номер телефона</h3>
			<p>
				{{ item.client.phone }}
			</p>
			<h3>Описание</h3>
			<p>{{ item.description }}</p>
			<ng-container *ngIf="item.carInfo">
				<h3>Автомобиль</h3>
				<p>{{ item.carInfo }}</p>
			</ng-container>
			<h3>Приоритет</h3>
			<p>
				<span class="priority"
							[attr.data-priority]="item.priority"
				>
								{{ priority[item.priority] }}
				</span>
			</p>
			<h3>Статус</h3>
			<p>
				<span class="status"
							[attr.data-status]="	record.status"
				>
								{{ status[record.status] }}
				</span>
			</p>
		</ng-template>
	</app-about>

	<div class="action">
		<!-- TODO: доделать страницу -->
		<button (click)="dialogOpen(modalPriority,
		{selectItems: priorityItems, priority:
		record.priority}, 'Приоритет')"
		>
			Изменить приоритет
		</button>
		<button (click)="dialogOpen(modalStatus,
		{selectItems: statusItems, status: record.status},
		'Статус')"
		>
			Изменить
			статус
		</button>
		<button>Добавить мастера</button>
	</div>

	<div class="masters">
		<h2 class="masters__title">
			Исполнители
		</h2>
		<div class="masters__list"></div>
	</div>
</div>

<ng-template #modalPriority
						 let-item
>
	<app-select
		[items]="item.selectItems"
		[selectedIndex]="item.priority"
		(selectionChange)="priorityUpdate($event)"
		class="full-w primary"
	></app-select>
</ng-template>

<ng-template #modalStatus
						 let-item
>
	<app-select
		[items]="item.selectItems"
		[selectedIndex]="item.status"
		(selectionChange)="statusUpdate($event)"
		class="full-w primary"
	></app-select>
</ng-template>