<div class='menu'
		 [class.minimize]='isMinimize'
>
	<hr class="line">
	<nav class="nav__wrapper">
		<ul class="nav__list">
			<li *ngFor="let item of menuItems"
					(click)="closeMenu()"
			>
				<a [routerLink]="item.routerLink"
					 class="nav__item"
				>
					<mat-icon>{{ item.icon }}</mat-icon>
					<div class="nav__title">
						{{ item.title }}
					</div>
				</a>
			</li>
			<li (click)="toggleMenu()"
					class="nav__item"
			>
				<mat-icon [class.minimize__icon]='!isMinimize'
									class='nav__icon'
				>
					keyboard_arrow_right
				</mat-icon>
				<div class="nav__title">
					Свернуть
				</div>
			</li>
			<li class='nav__item'>
				<button (click)='logout()'>
					<mat-icon [class.minimize__icon]='!isMinimize'
										class='nav__icon'
					>
						logout
					</mat-icon>
				</button>
			</li>
		</ul>
	</nav>
</div>
