:host {
	@apply block relative;
	@apply bg-surface;
}
.menu {
	@apply flex flex-col gap-5;
	@apply w-[var(--width-menu)] px-10 py-5 sticky top-0 bottom-0 left-0 z-50;
	@apply text-on-surface;

	transition: all 0.3s ease;

	.profile {

		@apply flex items-center gap-[0.3125rem];

		padding: 5px 5px 5px 0;

		&__icon {
			@apply rounded-3xl border border-primary;
			height: 3.125rem;
			width: 3.125rem;
		}

		&__title {
		}
	}

	.line {
		@apply border-2 border-primary;
	}

	.nav {
		&__wrapper {
		}

		&__list {
			display: flex;
			flex-direction: column;
			gap: 1.25rem;
		}

		&__item {
			border-radius: 0.625rem;
			cursor: pointer;
			display: flex;
			gap: 0.3125rem;

			padding: 5px 5px 5px 0;

			&:hover {
				@apply bg-primary text-surface;
				.svg-nav {
					@apply stroke-surface;
				}
			}
		}

		&__icon {
			@apply flex items-center justify-center shrink-0 w-[3.125rem];
		}

		&__title {
			align-items: center;
			display: flex;
		}

	}
}

.minimize {
	@apply px-3;

	--width-menu: 5rem;

	&:after {
		display: none;
	}

	.profile {
		&__title {
			display: none;
		}
	}

	.nav {
		&__list {
			@apply items-center;
		}

		&__item {
			padding: 5px;
		}

		&__icon {
			@apply w-auto;
		}

		&__title {
			display: none;
		}
	}

	&__icon {
		@apply rotate-180;
	}
}

