<table>
	<thead>

	<ng-container *ngIf="headTemplate"
								[ngTemplateOutlet]="headTemplate"
	/>

	</thead>

	<tbody>

	<ng-container *ngIf="bodyTemplate">
		<ng-container class="tr" *ngFor="let item of items"
									[ngTemplateOutlet]="bodyTemplate"
									[ngTemplateOutletContext]="{$implicit:
                  item}"
		/>
	</ng-container>

	<tr *ngIf="isLoading">
		<td class="message" colspan="5">Загрузка...</td>
	</tr>

	<tr *ngIf="notFound">
		<td class="message" colspan="5">Данных нет</td>
	</tr>

	</tbody>

</table>

