<div class="table__toolbox"
>
	<ng-container *ngIf='toolboxTemplate'
								[ngTemplateOutlet]='toolboxTemplate'
								[ngTemplateOutletContext]='{filterData:
								onSearchChange.bind(this)}'
	></ng-container>

	<app-search
		*ngIf='searchVisible'
		(searchChangedEvent)="onSearchChange($event)"
	/>

	<button *ngIf='addButton'
					(click)='addClick()'
					class='button'
	>Добавить
	</button>

</div>

<div class="table__wrapper">
	<table>
		<thead>
			<ng-container *ngIf="headTemplate"
										[ngTemplateOutlet]="headTemplate"
										[ngTemplateOutletContext]='{
											sortFn:sortChange.bind(this),
											sortProp: selectSortColumn,
											sortDirection: sortDescending
										}'
			/>
		</thead>
		<tbody>
			<tr *ngIf="isLoading">
				<td class="message"
						colspan="1000"
				>Загрузка...
				</td>
			</tr>
			<tr *ngIf="notFound">
				<td class="message"
						colspan="1000"
				>Данных нет
				</td>
			</tr>
			<ng-container *ngIf="bodyTemplate">
				<ng-container *ngFor="let item of filteredItems |
            sorting: selectSortColumn : sortDescending |
           pagination: currentPage : pageSize : update"
											[ngTemplateOutlet]="bodyTemplate"
											[ngTemplateOutletContext]="{$implicit:
                  item}"
				/>
			</ng-container>
		</tbody>
	</table>
</div>

<app-pagination *ngIf="totalPages > 1"
								[currentPage]="currentPage"
								[totalPages]="totalPages"
								(changePage)="currentPageChanged($event)"
/>