:host {
	@apply block w-full h-full;
	overflow: auto;
	border-radius: 10px;
}

table {
	@apply w-full bg-surface h-full;
}

thead {
}

thead tr {
	@apply top-0 sticky h-10;
}

tbody {
}

tbody tr {
	@apply min-h-9 h-9;
	&:nth-child(2n) {
		@apply bg-primary;
	}
}

th {
	@apply bg-menu text-on-menu;
}

td {
	text-align: center;
}

table, th, td {
	border-collapse: collapse;
}
