<ng-container *ngIf='calendar$ | async as calendar'>
    <b-table [items]='calendar.daysRecords'
             selectSortColumn='date'
             [sortDescending]='true'
             [searchVisible]='false'
             [headerTitle]="calendar.name"
    >

        <ng-template bTemplate='toolbox'
                     *ngIf="(roleId$ | async) == 1 "
        >
            <button class='button'
                    (click)='delete(remove)'
            >Удалить
            </button>

            <button class='button'
                    (click)='fill(fillT)'
            >Заполнить расписание
            </button>

        </ng-template>

        <ng-template bTemplate='head'
        >
            <tr>
                <th>
                    Дата
                </th>
                <th>
                    Начало работы
                </th>
                <th>
                    Конец работы
                </th>
                <th *ngIf="(roleId$ | async) == 1 "
                >
                    Действия
                </th>
            </tr>
        </ng-template>

        <ng-template bTemplate='body'
                     let-item
        >
            <tr *ngIf="(item.date | date: 'dd.MM.YYYY') as dateN">
                <td data-name='Дата'>
                    {{ dateN }}
                </td>
                <td data-name='Начало работы'>
                    {{ item.startTime }}
                </td>
                <td data-name='Конец работы'>
                    {{ item.endTime }}
                </td>
                <td data-name="Действия" *ngIf="(roleId$ | async) == 1 ">
                    <div>
                        <button mat-icon-button (click)='navigate(item.id)'
                        >
                            <mat-icon>open_in_new</mat-icon>
                        </button>
                        <button mat-icon-button (click)="deleteDay(remove,item.id ,dateN)">
                            <mat-icon color="warn">delete</mat-icon>
                        </button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </b-table>
</ng-container>
<ng-template #remove></ng-template>
<ng-template #fillT>
    <app-date-picker
            (subFill)='submitFill($event)'
    ></app-date-picker>
</ng-template>
