:host {
	@apply fixed top-0 right-0 bottom-0 left-0 z-50;

	@apply grid items-center justify-center p-5 overflow-y-auto;
}

.modal {
	@apply flex flex-col gap-5 bg-surface;

	width: 300px;

	padding: 0.9375rem;

	border-radius: 0.625rem;

	box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
}

.modal-title {
	@apply font-bold text-center text-on-surface;
	font-size: 1.25rem;
}

.modal-content {
}

.modal-action {
	@apply flex justify-evenly;

	.buttons {
		@apply p-1;

		border-radius: 0.625rem;
	}

	.confirm {
		@apply text-on-surface bg-green-500 bg-opacity-20 hover:bg-opacity-100 border-green-500 border border-solid;

	}

	.close {
		@apply text-on-surface bg-red-500 bg-opacity-20 hover:bg-opacity-100 border-red-500 border border-solid;
	}
}


.modal-backdrop {
	@apply fixed top-0 right-0 left-0 bottom-0 bg-gray-600/10 -z-10 h-full;

	backdrop-filter: blur(10px);
}