:host {

}

.custom-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
	position: relative;
}

.custom-form-field {
	width: 100%;
}


.suggestions {
	@apply absolute top-full p-2 flex flex-col bg-surface text-on-surface w-full h-60 overflow-y-auto border-primary border border-solid;

	border-radius: 0.625rem;

	&__item {
		@apply p-1 hover:bg-primary;
	}
}

