<form [formGroup]="dateTimeRangeForm" (ngSubmit)="onSubmit()" class="form">
    <mat-form-field appearance="fill">
        <mat-label>Дата начала</mat-label>
        <input matInput [matDatepicker]="startPicker" formControlName="startDate" placeholder="Введите дату начала"/>
        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
        <mat-error *ngIf="dateTimeRangeForm.get('startDate')?.hasError('required')">
            Дата начала обязательна
        </mat-error>

    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Дата конца</mat-label>
        <input matInput [matDatepicker]="endPicker" formControlName="endDate" placeholder="Введите дату конца"/>
        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
        <mat-error *ngIf="dateTimeRangeForm.get('endDate')?.hasError('required')">
            Дата конца обязательна
        </mat-error>

    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Время начала дня</mat-label>
        <input matInput type="time" formControlName="startTime" placeholder="Введите время начала дня"/>
        <mat-error *ngIf="dateTimeRangeForm.get('startTime')?.hasError('required')">
            Время начала дня обязательно
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Время конца дня</mat-label>
        <input matInput type="time" formControlName="endTime" placeholder="Введите время конца дня"/>
        <mat-error *ngIf="dateTimeRangeForm.get('endTime')?.hasError('required')">
            Время конца дня обязательно
        </mat-error>

    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Время начала обеда</mat-label>
        <input matInput type="time" formControlName="breakStartTime" placeholder="Введите время начала обеда"/>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Время конца обеда</mat-label>
        <input matInput type="time" formControlName="breakEndTime" placeholder="Введите время конца обеда"/>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Продолжительность (минуты)</mat-label>
        <input matInput type="number" formControlName="duration" placeholder="Введите продолжительность"/>
        <mat-error *ngIf="dateTimeRangeForm.get('duration')?.hasError('min')">
            Продолжительность должна быть не менее 10 минут
        </mat-error>
    </mat-form-field>
    <mat-error *ngIf="dateTimeRangeForm.hasError('startDateInvalid')">
        Дата начала не может быть ранее завтрашнего дня
    </mat-error>
    <mat-error *ngIf="dateTimeRangeForm.hasError('timeRangeInvalid')">
        Время начала дня не может быть позже времени окончания дня
    </mat-error>
    <mat-error *ngIf="dateTimeRangeForm.hasError('dateRangeInvalid')">
        Дата начала не может быть позже даты конца
    </mat-error>
    <button mat-flat-button color="primary" type="submit">
        Заполнить
    </button>
</form>
