<form class="form" [formGroup]="requestForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <mat-label>Название</mat-label>
        <input matInput id="name" type="text" formControlName="name" placeholder="Введите название услуги">
        <mat-error *ngIf="requestForm.get('name')?.touched && requestForm.get('name')?.hasError('required')">
            Название обязательно
        </mat-error>
        <mat-error *ngIf="requestForm.get('name')?.touched && requestForm.get('name')?.hasError('minlength')">
            Название должно содержать минимум 3 символа
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Описание услуги</mat-label>
        <textarea matInput id="description" formControlName="description" placeholder="Опишите услугу"></textarea>
        <mat-error
                *ngIf="requestForm.get('description')?.touched && requestForm.get('description')?.hasError('required')">
            Описание услуги обязательно
        </mat-error>
        <mat-error
                *ngIf="requestForm.get('description')?.touched && requestForm.get('description')?.hasError('minlength')">
            Описание услуги должно содержать минимум 5 символов
        </mat-error>
    </mat-form-field>

    <label class="form__file">
        <span class="form__file-btn">{{ btnText }}</span>
        <input type="file" id="image" class="form__file-input"
               (change)="fileUpload($event)">
    </label>

    <mat-checkbox id="isShowLending" formControlName="isShowLanding">Отображать на лендинге?
    </mat-checkbox>

    <button mat-flat-button color="primary" type="submit">Отправить</button>
</form>
