<div class="wrapper">

	<header class="header">
		<div class="header__logo">
			<img ngSrc="assets/атлант.jpg"
					 height="1046"
					 width="1087"
					 alt="Атлант">
		</div>
		<nav class="header__navigation">
			<ul>
				<li><a>Главная</a></li>
				<li><a>Услуги</a></li>
				<li><a>О нас</a></li>
				<li><a href="">Записаться</a></li>
			</ul>
		</nav>
		<nav class="header__link">
			<ul>
				<li>Магазин</li>
				<li>Личный кабинет</li>
			</ul>
		</nav>
	</header>

	<section class="section-header">
		<div class="section-header__wrapper">
			<div class="content">
				<h1>Автомастерская Автодоктор</h1>

				<p class="description"> Lorem ipsum dolor sit amet,
					consectetur adipisicing elit. Aut corporis culpa,
					hic
					iste nobis officiis optio ratione totam voluptate
					voluptates. Amet aspernatur dolores eum omnis
					praesentium quae quisquam similique sit.
				</p>
			</div>
		</div>
	</section>

	<section class="section-services">
		<h2>Предоставляемые услуги</h2>
		<div class="section-services__list">
			<div
				class="section-services__item"
				*ngFor="let item of services"
			>
				<h3>
					{{ item.name }}
				</h3>
				<p>
					{{ item.description }}
				</p>
			</div>
		</div>
	</section>


</div>
