<div class="wrapper">
	<section class="section-header">
		<div class="section-header__wrapper">

			<app-header-lending></app-header-lending>

			<div class="content">
				<h1>Автомастерская Автодоктор</h1>

				<p class="description"> Lorem ipsum dolor sit amet,
					consectetur adipisicing elit. Aut corporis culpa,
					hic
					iste nobis officiis optio ratione totam voluptate
					voluptates. Amet aspernatur dolores eum omnis
					praesentium quae quisquam similique sit.
				</p>
			</div>
		</div>
	</section>

	<section class="section-record">

		<h2>Записаться</h2>

		<div class='record-slider'>

			<details>
				<summary>
					<h3>
						Оставьте заявку и мы вам
						перезвоним
					</h3>
				</summary>
				<form>
					<input type='text'>

				</form>
			</details>
			<ng-container *ngFor='let item of calendars'
			>
				<details>
					<summary>
						<h3>
							{{ item.name }} онлайн
						</h3>
					</summary>
					<div class='details-wrapper'>
						<div class='description'>
							{{ item.description }}
						</div>
						<a [routerLink]='["/day-record-lending",
						item.id]'
						>
							Записаться</a>
					</div>
				</details>
			</ng-container>

			<ng-template #defaultRecord>
			</ng-template>

			<ng-template #calendar
									 let-item
			>
				<div>{{ item.name }}</div>
				<div>{{ item.description }}</div>
			</ng-template>

		</div>

	</section>

	<section class="section-services">
		<h2>Предоставляемые услуги</h2>
		<div class="section-services__list">
			<div
				class="section-services__item"
				*ngFor="let item of services"
			>
				<h3>
					{{ item.name }}
				</h3>
				<p>
					{{ item.description }}
				</p>
			</div>
		</div>
	</section>

</div>
