<div class="wrapper">
	<section class="section-header">
		<div class="section-header__wrapper">

			<app-header-lending></app-header-lending>

			<div class="content">
				<h1>Автомастерская Автодоктор</h1>

				<p class="description"> Lorem ipsum dolor sit amet,
					consectetur adipisicing elit. Aut corporis culpa,
					hic
					iste nobis officiis optio ratione totam voluptate
					voluptates. Amet aspernatur dolores eum omnis
					praesentium quae quisquam similique sit.
				</p>
			</div>
		</div>
	</section>

	<section class="section-record">

		<h2>Записаться</h2>

		<app-stepper-lending-record>

			<cdk-step>
				<app-form-record></app-form-record>
			</cdk-step>

			<ng-container *ngFor='let item of calendars'>
				<cdk-step>
					<h3>
						{{ item.name }} онлайн
					</h3>
					<div class='details-wrapper'>
						<div class='description'>
							{{ item.description }}
						</div>
						<a [routerLink]='["/day-record-lending",
						item.id]'
						>
							Записаться</a>
					</div>
				</cdk-step>
			</ng-container>

		</app-stepper-lending-record>

	</section>

	<section class="section-services">
		<h2>Предоставляемые услуги</h2>
		<div class="section-services__list">
			<div
				class="section-services__item"
				*ngFor="let item of services"
			>
				<h3>
					{{ item.name }}
				</h3>
				<p>
					{{ item.description }}
				</p>
			</div>
		</div>
	</section>

</div>
