:host {
	@apply flex flex-col overflow-y-auto max-h-full;
	::ng-deep {
		--mdc-filled-text-field-input-text-color: #fff;
		--mdc-filled-text-field-container-color: rgb(var(--color-input-background));

		.mdc-text-field--filled:not(.mdc-text-field--disabled) {
			@apply border-primary border border-solid;
			border-radius: 0.625rem 0.625rem 0 0;
		}
	}
}

.form {
	@apply w-full max-w-lg mx-auto p-4 bg-surface shadow-md;
	border-radius: 0.625rem;
}

.form__title {
	@apply text-2xl font-semibold mb-4 text-on-surface;
}

.form__group {
	@apply mb-4;
}

.form__input {
	@apply w-full;
}

.form__error {
	@apply text-red-500 text-sm mt-1;
}

