<b-table
	[service]="workersService"
	[items]="workersService.items$ | async"
	[headItems]="workersService.headItems"
>
	<ng-template bTemplate="body" let-item>
		<tr (click)="goToWorker(item.id)">
			<td data-name="Фио">
				{{
					item | fullName
				}}
			</td>
			<td class="tablet:max-w-full max-w-36"
					data-name="Номер">
				{{ item.phone }}
			</td>
			<td class="break-all" data-name="Адрес">
				{{ item.address }}
			</td>
		</tr>
	</ng-template>
</b-table>

<!--<app-pagination *ngIf="workersService.totalPages > 1"-->
<!--								[currentPage]="workersService.currentPage"-->
<!--								[totalPages]="workersService.totalPages"-->
<!--								(changePage)="workersService.currentPageChanged($event)"/>-->
