<b-table
	[service]="workersService"
	[items]="workersService.items$ | async"
	[headItems]="workersService.headItems"
	[addButton]='true'
	(addButtonClick)='openModalAddWorker(addWorkerTemplate)'
>
	<ng-template bTemplate="body"
							 let-item
	>
		<tr (click)="goToWorker(item.id)">
			<td data-name="Фио">
				{{
					item | fullName
				}}
			</td>
			<td class="tablet:max-w-full max-w-36"
					data-name="Номер"
			>
				{{ item.phone }}
			</td>
			<td class="break-all"
					data-name="Адрес"
			>
				{{ item.address | notSpecified }}
			</td>
		</tr>
	</ng-template>
</b-table>

<ng-template #addWorkerTemplate>

	<app-stepper [(selectedIndex)]='selectedIndexAddWorker'>

		<cdk-step>
			<div class='wrapper flex flex-col gap-2'>
				<button class='button-on-surface'
								(click)='selectedIndexAddWorker =
			 1'
				>
					Регистрация
				</button>
				<button class='button-on-surface'
								(click)='selectedIndexAddWorker = 2'
				>
					Обновление зарегистрированного пользователя
				</button>
			</div>
		</cdk-step>

		<cdk-step label='Регистрация'>
			<app-form-register
				(submit)='addWorker($event)'
			></app-form-register>
			<ng-container [ngTemplateOutlet]='backButton'></ng-container>
		</cdk-step>

		<cdk-step
			label='Обновление зарегистрированного пользователя'
		>
			<form
				class='form'
				[formGroup]="requestForm"
				(ngSubmit)="onSubmit()"
			>
				<div class='form__group'>
					<label class='form__label'
								 for='phone'
					>
						Номер
					</label>
					<input class='form__input'
								 type='text'
								 id='phone'
								 formControlName="phone"
								 placeholder='Введите номер'
					>

				</div>
				<button class="form__button"
								type="submit"
								[disabled]="requestForm.invalid"
				>
					Обновить
				</button>
			</form>

			<ng-container [ngTemplateOutlet]='backButton'></ng-container>
		</cdk-step>


		<ng-template #backButton>
			<button
				class='button-on-surface'
				(click)='selectedIndexAddWorker =
			 0'
			>
				Назад
			</button>
		</ng-template>

	</app-stepper>

</ng-template>