<app-table-workers
        [items]="items$ | async"
        [addButton]="true"
        (addClick)="openModalAddWorker(addWorkerTemplate)"
        deleteTitle="Вы действительно хотите удалить данные мастера"
        (remove)="onDeleteMaster($event)"
        headerTitle="Сотрудники"
></app-table-workers>

<ng-template #addWorkerTemplate>
    <app-form-register
            headerText="Зарегистрировать сотрудника"
            (register)="addWorker()"
            [isAddWorker]="true"
    ></app-form-register>
</ng-template>
