<header class="header">
    <div class="header__title">
        <a [routerLink]='["/lending"]'
           fragment='header'
        >Автодоктор
        </a>
    </div>
    <div class="header__burger"
         (click)='toggleShowMenu()'
    >
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="header__navigation"
         [ngClass]="{'showMenu': isShowMenu}"
    >
        <nav class="header__lending">
            <ul>
                <li><a routerLink=''
                       fragment='services'
                       (click)="this.isShowMenu = false"
                >Услуги</a></li>
                <li><a routerLink=''
                       fragment='record'
                       (click)="this.isShowMenu = false"
                >
                    Записаться</a></li>
            </ul>
        </nav>
        <nav class="header__link">
            <ul>
                <li>
                <a routerLink="/account" (click)="this.isShowMenu = false">Личный
                        кабинет</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
