<header class="header">
	<div class="header__logo">
		<img src="assets/атлант.jpg"
				 alt="Атлант"
		>
	</div>
	<div class="header__title">
		Автодоктор
	</div>
	<div class="header__burger"
			 (click)='toggleShowMenu()'
	>
		<span></span>
		<span></span>
		<span></span>
	</div>
	<div class="header__navigation"
			 [ngClass]="{'showMenu': isShowMenu}"
	>
		<nav class="header__lending">
			<ul>
				<li><a [routerLink]='["/lending"]'
							 fragment='header'
				>Главная
				</a></li>
				<li><a routerLink=''
							 fragment='services'
				>Услуги</a></li>
				<li><a>О нас</a></li>
				<li><a routerLink=''
							 fragment='record'
				>
					Записаться</a></li>
			</ul>
		</nav>
		<nav class="header__link">
			<ul>
				<li>
					<a routerLink="/account">Личный
						кабинет</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
