:host {
  @apply flex flex-col gap-5 h-full;

  border-radius: 0.625rem;
}

.about-worker {
  padding: 0.9375rem;

  .info {
    @apply flex flex-col;

    span {
      @apply grid text-wrap break-all;

      grid-template-columns: 100px 1fr;

      &:before {
        @apply font-bold;
        content: attr(data-name) ": ";

      }
    }
  }
}

.tabs {
  @apply min-h-0 flex-1;

  border-radius: 0.625rem;

  &__content  {
  }
}
.priority {
  @apply p-1;
  border-radius: 0.625rem;

  &[data-priority="0"] {
    @apply bg-gray-400;
  }
  &[data-priority="1"] {
    @apply bg-green-400/50 border-green-400 border-solid border;
    backdrop-filter: blur(10px);

  }
  &[data-priority="2"] {
    @apply bg-red-400;
  }
  &[data-priority="3"] {
    @apply bg-red-800;
  }
}