:host {
  display: block;
}

.wrapper {
  @apply flex flex-col gap-5;
  @apply w-65 h-full px-10 py-5;
  @apply bg-background-element;

  .profile {
    align-items: center;
    display: flex;
    gap: 0.3125rem;

    padding: 5px 5px 5px 0;

    &__icon {
      @apply rounded-3xl border border-black;
      height: 3.125rem;
      width: 3.125rem;
    }

    &__title {
    }
  }

  .line {
    @apply border-2 border-background;
  }

  .nav {
    &__wrapper {
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
    }

    &__item {
      border-radius: 10px;
      cursor: pointer;
      display: flex;
      gap: 0.3125rem;

      padding: 5px 5px 5px 0;

      &:hover {
        @apply bg-background;
      }
    }

    &__icon {
      @apply flex items-center justify-center shrink-0 w-[3.125rem];
    }

    &__title {
      align-items: center;
      display: flex;
    }

  }
}

.minimize {
  @apply w-20 px-3;

  .profile {


    &__icon {

    }

    &__title {
      display: none;
    }
  }

  .line {

  }

  .nav {
    &__wrapper {
    }

    &__list {
      @apply items-center;
    }

    &__item {
      padding: 5px;

      &:hover {

      }
    }

    &__icon {
      @apply w-auto;
    }

    &__title {
      display: none;
    }

  }

  &__icon {
    @apply rotate-180;
  }

}


