<section class="container">
	<header class='label'>
		@for (step of steps; track step; let i = $index) {
			<span class='label__item'
						[class.label__active]='selectedIndex === i'
						(click)='selectStepByIndex(i)'
			>
			</span>
		}
	</header>

	<div [ngTemplateOutlet]="selected ? selected.content : null"></div>

	<div class='buttons'>
		<button class="text-4xl"
						cdkStepperPrevious
		>&larr;
		</button>
		<!--			@for (step of steps; track step; let i = $index) {-->
		<!--				<button-->
		<!--					class="button__step"-->
		<!--					[class.button__active]="selectedIndex === i"-->
		<!--					(click)="selectStepByIndex(i)"-->
		<!--				>-->
		<!--					Step {{ i + 1 }}-->
		<!--				</button>-->
		<!--			}-->
		<button class="text-4xl"
						cdkStepperNext
		>&rarr;
		</button>
	</div>

</section>