:host {
  @apply bg-surface text-on-surface;

  padding: 0.9375rem;

  border-radius: 0.625rem;

  ::ng-deep {
    hr {
      height: 1px;
      width: 100%;
      @apply border-on-surface;
      margin: 0.5rem 0 1rem 0;
    }

    .title {
      font-size: 1.3rem;
    }

    .info {
      @apply grid gap-x-5 gap-y-2.5;

      grid-template-columns: auto 1fr;

      @media (max-width: 425px) {
        grid-template-columns: 1fr;
      }
      h3 {
        font-weight: 600;
      }
    }
  }
}
