.service-card {
	width: 250px;

	@apply  flex flex-col gap-3 bg-surface border border-solid border-primary shadow-md text-on-surface p-3 cursor-pointer;

	border-radius: 0.625rem;

	img {
		@apply w-full object-cover ;
		border-radius: 0.625rem;
	}

	.card-text {

		h3 {
			font-size: 1.25rem;
			font-weight: 600;
			border-radius: 0.625rem;
		}
	}

	&:hover {
		img {
			@apply translate-y-0 opacity-100;
		}

		.card-text h3 {
		}

		.card-button {

		}
	}
}

