<section class="section-header">
	<div class="section-header__wrapper">
		<div class="content">
			<h1>Автомастерская Автодоктор</h1>

			<p class="description"> Lorem ipsum dolor sit amet,
				consectetur adipisicing elit. Aut corporis culpa,
				hic
				iste nobis officiis optio ratione totam voluptate
				voluptates. Amet aspernatur dolores eum omnis
				praesentium quae quisquam similique sit.
			</p>

			<p class="record">
				<a [routerLink]="['record']">Записаться на тех.
					осмотр</a>
			</p>
		</div>
	</div>
</section>

<section class="section-record">

	<h2>Вы можете записаться 3 способами</h2>


	<h3>Оставить заявку</h3>

</section>

<section class="section-services">
	<h2>Предоставляемые услуги</h2>
	<div class="section-services__list">
		<div
			class="section-services__item"
			*ngFor="let item of services"
		>
			<h3>
				{{ item.name }}
			</h3>
			<p>
				{{ item.description }}
			</p>
		</div>
	</div>
</section>