<!--<button-->
<!--	class='swiper-btn-prev'-->
<!--&gt;-->
<!--	<svg-icon-->
<!--		src='assets/slider-arrow.svg'-->
<!--		[svgStyle]='{stroke: "white"}'-->
<!--	></svg-icon>-->
<!--</button>-->
<swiper-container
	navigation="true"
	pagination='true'
	centered-slides="true"
	init='false'
	#swiper
>
	<ng-content></ng-content>
</swiper-container>
<!--<button class='swiper-btn-next'>-->
<!--	<svg-icon-->
<!--		src='assets/slider-arrow.svg'-->
<!--		[svgStyle]='{stroke: "white", transform:-->
<!--			"rotate(180deg)"}'-->
<!--	></svg-icon>-->
<!--</button>-->
