@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: 179, 179, 179;
  --color-background-element: 228, 228, 228;

  @media (max-width: 1280px) {
    font-size: 10px;
  }
}

html {
  @apply font-montserrat;
}

body {
}

.svg-nav {
  fill: aqua;
  height: 1.875rem;

  width: 1.875rem;
}

